@model MovieViewModel[]

@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<div class="owl-carousel owl-theme">
		<div> Your Content </div>
		<div> Your Content </div>
		<div> Your Content </div>
		<div> Your Content </div>
		<div> Your Content </div>
		<div> Your Content </div>
		<div> Your Content </div>
	</div>
</div>
