@model MovieViewModel[]

<div class="text-center">
    <div class="owl-carousel owl-theme">
        @foreach (var featuredMovie in Model)
        {
            <div class="item">
                <a asp-controller="Movie" asp-action="Details"
                   asp-route-id="@featuredMovie.Id" class="d-flex justify-content-center">
                    <img class="d-block img-fluid"
                         style="max-height: 500px; width: auto; object-fit: contain;"
                         alt="@featuredMovie.Name" src="@featuredMovie.Image">
                </a>
            </div>
        }
    </div>
</div>
