html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.cinema-arena-title {
    color: #e50914; /* Netflix-inspired red */
    text-decoration: none; /* No underline */
    text-align: center; /* Center the text */
    font-family: 'Roboto', sans-serif; /* Modern font */
    font-size: 2.5rem; /* Increase font size */
    font-weight: bold; /* Make it bold */
    letter-spacing: 2px; /* Add spacing between letters */
    text-transform: uppercase; /* Make all letters uppercase */
    line-height: 1.2; /* Adjust line spacing */
    display: block; /* Ensure proper centering */
}
